---
const imgPath = "/images/image1.png";
const img2 = "/images/paisaje.jpeg";
---

<section class="gallery">
  <div class="gallery-item">
    <img src={imgPath} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={img2} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={imgPath} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={img2} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={imgPath} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={img2} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={imgPath} alt="Imagen 1" />
  </div>
  <div class="gallery-item">
    <img src={img2} alt="Imagen 1" />
  </div>
</section>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, auto); */

    margin: 0 auto;
  }

  .gallery-item {
    overflow: hidden;
  }

  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ajusta las imágenes sin distorsionarlas */
  }
</style>
